[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "childesr"]
	path = childesr
	url = https://github.com/langcog/childesr
[submodule "tidyboot"]
	path = tidyboot
	url = https://github.com/langcog/tidyboot
